.home {
  min-width: 300px;
  height: max-content;
  padding: 1.5rem 3rem;
  backdrop-filter: blur(10px);
  border-radius: 4rem;
  &-link {
    a {
      text-decoration: none;
    }
  }

  &-valid {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
}
