@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #eee;
}

body {
  background-color: rgb(10, 10, 10);
}
h1,
.title {
  text-align: center;
  color: #eee;
}
header {
  padding: 1rem 0px;
}

.rs-progress-circle {
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-progress-circle .rs-progress-circle-info {
  position: absolute;
  font-size: 0.8rem;
}
.rs-progress-circle .rs-progress-circle-info span {
  color: #000;
  font-weight: 800;
}
