form {
  margin: auto;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.153);
  padding: 1rem 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;

  p {
    color: #fff;
    font-weight: 900;
    margin-bottom: 1rem;
    opacity: 0.7;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 1.5rem;
    &:hover {
      text-shadow: 2px 2px 6px #000000a4;
    }
  }

  .myinput {
    &::placeholder {
      font-weight: 400;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
    &[type="email"],
    &[type="password"] {
      margin-top: 0.8rem;
      &:focus {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .mybtn {
    padding: 1rem 4rem;
    margin-top: 1.5rem;
  }
}

a,
input,
select,
button {
  border: none;
  outline: none;
}
