@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101827;
}
#root {
  width: 100%;
  height: 100%;
}

* .mybtn {
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  color: white;
  background: #0a0001e6;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &:hover {
    background: #000000;
  }
}

* .myinput {
  background: transparent;
  width: 250px;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  // &:-webkit-autofill,
  // &:-webkit-autofill:hover,
  // &:-webkit-autofill:focus {
  //   -webkit-box-shadow: 0 0 0px 1000px #0b111c inset;
  //   -webkit-text-fill-color: #ffffff;
  // }
  // &:-webkit-autofill:focus {
  //   -webkit-text-fill-color: #080808;
  // }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
}

* .typing {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;

  &.typing-1 {
    animation: typing 3s infinite;
  }
  &.typing-2 {
    animation: typing 3s 250ms infinite;
  }
  &.typing-3 {
    animation: typing 3s 500ms infinite;
  }
}
@keyframes typing {
  0%,
  75%,
  100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }

  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
